<h1 class="pageHeader">Edit Spot</h1>

<div class="outsideContainer" style="margin-top: 1%;">
  <div class="updateContainer">

    <form action="/{{populateInfo._id}}?_method=PATCH" method="POST">

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="title" value="{{populateInfo.title}}">
        </div>
      </div>

      <div class="field">
        <label class="label">Address</label>
        <div class="control">
          <input class="input" type="text" name="address" value="{{populateInfo.address}}">
        </div>
      </div>


      <div class="field">
        <label class="label">Caption</label>
        <div class="control">

          <input style="width: 300px;" class="input" type="text" name="caption" value="{{populateInfo.caption}}">
        </div>
      </div>

      <button class="button is-link is-info" type="submit">Update</button>

    </form>

    <form action="/{{populateInfo._id}}?_method=DELETE" method="POST">
      <button class="button is-text" type="submit">Delete</button>
    </form>
  </div>
</div>

<br style="line-height: 252px;">