{{#each allLocations}}

<h1>{{title}}</h1>
<h2>{{username}}</h2>

{{_id}}

<a href="/{{_id}}/edit-location">edit location</a></li><br>
<img src={{image}} alt="" >
<h2>{{address}}</h2>
<p>{{caption}}</p>
<div>
{{#each comments}}
<p><strong>{{username}}</strong> {{comment}}</p>
{{/each}}


<a href="/{{_id}}/add-comment">add comment</a>
</div>

{{/each}}

