{{#each allLocations}}

<h1>{{title}}</h1>
<h2>{{username}}</h2>

<a href="/{{_id}}/edit-location">edit location</a></li><br>
<img src={{image}} alt="" >
<h2>{{address}}</h2>
<p>{{caption}}</p>


{{/each}}
