{{#each allLocations}}

<div class= "container">
<div class="locationHeader">
<div class="columnLH">
<h1><strong>{{title}}</strong></h1>
<h2 class="edit">{{address}}</h2>

</div>
<a class="edit" href="/{{_id}}/edit-location">edit</a>
</div>


<img src={{image}} alt="" >
<p><strong>{{username}}</strong> {{caption}}</p>
<div>
{{#each comments}}
<p><strong>{{username}}</strong> {{comment}} <a href="/{{_id}}/edit-comment">edit</a></li></p>
{{/each}}

<a href="/{{_id}}/add-comment">add comment</a>
</div>

{{/each}}
</div>

