{{#each users}}
<h1>this will show all the users</h1>
<h2>{{username}}</h2>
<h2>{{email}}</h2>

<img src={{image}} alt="" >

{{_id}}

<form action="/{{_id}}?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
</form>
{{/each}}
